<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>

<script>
    // document DOM이 다 로딩 되면 보여달라는 뜻
    document.addEventListener("DOMContentLoaded", function(){
        var IMP = window.IMP; // 생략 가능
        IMP.init("imp32467878"); // 가맹점 식별코드 넣는다
        requestPay()    // 함수 호출
    });
    
    function requestPay() {
        // IMP.request_pay(param, callback) 결제창 호출
        IMP.request_pay({ // param
            pg: "html5_inicis",
            pay_method: "card",
            merchant_uid: "{{order._id}}",
            name: "{{order.product.name}}",
            amount: "{{order.product.price}}",
            buyer_email: "{{order.user.email}}",
            buyer_name: "{{order.user_name}}",
            buyer_tel: "{{order.user_phone}}"
        }, function (rsp) { // callback
            console.log(rsp)
            if (rsp.success) {
                console.log('결제 성공')
                const data = {
                    imp_uid: rsp.imp_uid,
                    merchant_uid: rsp.merchant_uid
                }
                // 결제 성공 시 jQuery로 이런 data를 특정 형식으로 받아오고 싶다는 메소드다
                jQuery.ajax({
                    url: "/payments/complete", // 예: https://www.myservice.com/payments/complete
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    data: JSON.stringify(data)
                }).done(function (data) {
                    // 가맹점 서버 결제 API 성공시 로직
                    if (data.message === 'success') {
                        const order_id = data.order_id
                        // 데이터에서 전달받은 것들을 요청 할 것이다 success/에
                        location.herf = `/payments/success?order_id=${order_id}`
                    }
                    else {
                        alert(data.message)
                        location.herf = `/products/list`
                    }
                })
                
            } else {
                console.log('결제 실패')
                alert('결제에 실패하였습니다.')
                location.herf = `/products/list`
            }
        });
      }
</script>

