{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card mb-3">   <!-- style="max-width: 540px;"이면 가로값이 최대 540px -->
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{product_['thumbnail_img']}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{product_['name']}}</h5>
                    <hr>
                    <p class="card-text">{{product_['description']}}</p>
                    <hr>
                    <div class="d-flex flex-row-reverse align-items-center">
                        <div class="p-2">
                            <a href="/products/{{product_['_id']}}/order" class="btn btn-outline-primary">구매하기</a>
                        </div>
                        <div class="p-2">
                            <!-- text-end 하면 텍스트가 오른쪽 끝으로 쏠림 -->
                            <p class="card-text text-end">{{product_['price']}}원</p>
                        </div>
                      </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="card">
                <!-- card-img-top은 bootstrap 참조 -->
                <img src="{{product_['detail_img']}}" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

  {% endblock %}