{% extends "base.html" %}
{% block content %}
<!-- style은 색깔 or 간격 등 디자인 적인 요소-->
<!-- id는 하나의 구조를 특정화 하기 위해서 사용 (css)-->
<!-- class는 공통적으로 조작을 하기 위해 사용-->

<!-- div 안에 container를 넣어서 여백을 만들 수 있음 -->
<div class="container">
    <div class="row">
        <!-- 총 12라고 생각 할 때 각각 4만큼 길이를 부여한 것-->
        <div class="col-4">

        </div>
        <div class="col-4">
            <div>
                <hr>
                <!-- bootstrap text alignment -->
                <h3 class="pt-2 pb-2 text-center">상품 수정</h3>
                <hr>
            </div>
            <!-- product_['id']로 바꿔줘야 상품 수정 API와 연동이 된다 -->
            <form action="/products/{{product_['_id']}}/update" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="name" class="form-label">Product name</label>
                  <!-- value값으로 product['name']을 미리 넣어준다 -->
                  <input name="name" value="{{product_['name']}}" type="text" class="form-control" id="name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Product price</label>
                  <input name="price" value="{{product_['price']}}" type="text" class="form-control" id="price">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Product description</label>
                    <!-- textarea라 product['description'] 따로 넣어준다 -->
                    <textarea name="description" type="text" class="form-control" id="description">{{product_['description']}}</textarea>
                </div>
                  <div class="mb-3">
                    <label for="thumbnail_img" class="form-label">Product thumbnail_img</label>
                    <input name="thumbnail_img" type="file" class="form-control" id="thumbnail_img">
                  </div>
                  <div class="mb-3">
                    <label for="detail_img" class="form-label">Product detail_img</label>
                    <input name="detail_img" type="file" class="form-control" id="detail_img">
                  </div>
                <!-- w-100은 width 100% -->
                <button type="submit" class="btn btn-primary w-100">Update</button>
              </form>
        </div>
        <div class="col-4">
            
        </div>
    </div>
    
</div>
{% endblock %}